---
import LinkButton from "./LinkButton.astro";
import GitHub from "./icons/GitHub.astro";
import WebPage from "./icons/WebPage.astro";
import NextJs from "./icons/NextJs.astro";
import NestJs from "./icons/NestJs.astro";
import MongoDB from "./icons/MongoDB.astro";
import JavaScript from "./icons/JavaScript.astro";
import Html from "./icons/Html.astro";
import Css from "./icons/Css.astro";
import Tailwind from "./icons/Tailwind.astro";
import React from "./icons/React.astro";
import { getI18n } from "../i18n";

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });

const TAGS = {
  NEXT: {
    name: "Next.Js",
    class: "bg-black text-white",
    icon: NextJs,
  },
  NEST: {
    name: "Nest.Js",
    class: "bg-black text-white",
    icon: NestJs,
  },
  MONGODB: {
    name: "MongoDB",
    class: "bg-black text-white",
    icon: MongoDB,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-black text-white",
    icon: JavaScript,
  },
  HTML: {
    name: "HTML",
    class: "bg-black text-white",
    icon: Html,
  },
  CSS: {
    name: "CSS",
    class: "bg-black text-white",
    icon: Css,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-black text-white",
    icon: Tailwind,
  },
  REACT: {
    name: "React",
    class: "bg-black text-white",
    icon: React,
  },
};

const PROJECTS = [
  {
    title: i18n.projects.title_project_4,
    description: i18n.projects.description_project_4,
    link: "https://fitness-web-app-lemon.vercel.app/",
    github: "https://github.com/jhosbel/FitnessWebApp",
    image: "/projects/c-fitness-portada.webp",
    tags: [TAGS.NEXT, TAGS.NEST, TAGS.MONGODB, TAGS.TAILWIND],
  },
  {
    title: i18n.projects.title_project_1,
    description: i18n.projects.description_project_1,
    link: "https://blog-app-kappa-two.vercel.app/",
    github: "https://github.com/jhosbel/blog-app",
    image: "/projects/blog_web_image.webp",
    tags: [TAGS.REACT, TAGS.NEXT, TAGS.MONGODB],
  },
  {
    title: i18n.projects.title_project_2,
    description: i18n.projects.description_project_2,
    link: "https://evangelion-web.netlify.app/",
    github: "https://github.com/jhosbel/Evangelion-App",
    image: "/projects/eva_portada.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
  {
    title: i18n.projects.title_project_3,
    description: i18n.projects.description_project_3,
    link: "https://rick-and-morthy-api.vercel.app",
    github: "https://github.com/jhosbel/rick-and-morthy-api",
    image: "/projects/ram_portada.webp",
    tags: [TAGS.REACT, TAGS.NEXT],
  },
];
---

<section class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ title, description, tags, image, link, github }) => (
      <article>
        <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
        <p class="text-lg mb-4 text-pretty">{description}</p>
        <ul class="flex gap-x-2 flex-row mb-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-2 rounded-full text-xs ${tag.class} py-1 px-2`}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
        <img
          class="rounded shadow-2xl shadow-white/10"
          src={image}
          alt={`Captura de pantalla del proyecto ${title}`}
        />
        <footer class="flex gap-x-4 justify-start mt-4">
          {github && (
            <LinkButton target="_blank" href={github}>
              <GitHub class="size-6" />
              {i18n.buttons.button_see_code}
            </LinkButton>
          )}
          <LinkButton target="_blank" href={link}>
            <WebPage />
            {i18n.buttons.button_go_web}
          </LinkButton>
        </footer>
      </article>
    ))
  }
</section>
